@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
@import url("https://use.typekit.net/jnv5djy.css");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');


body{
  font-family: juniper-std, sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: black;

  overflow: hidden;
}

.tabs{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 40px;


}

.headline{
  display: flex;
  justify-content: center;

}


.link2{
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.tabs a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: white;

  width: 95%;
  margin: auto;
}

.tabs a:hover {
  background-color: none;
  text-decoration:underline;

}
.tabs a.active {
  background-color:none;
  text-decoration:underline;
}

h1{
  font-size: 72px; 
  font-style: normal;
  font-weight: 500;
  line-height: 86px;

  background: linear-gradient(90deg, #FAFF00 3.7%, #6AFFDB 29.53%, #F478FF 61.71%, #FFAC30 86.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text{
	display: flex;
	justify-content: flex-end;
	padding-right: 222px;
}

p{
    font-size: 30pt;
    color: white;
    font-family: 'Dosis', sans-serif;
    width: 700px;
  }

 .imgabout{
  width: 268px;
  height: auto;
  padding: 12px 14px;

}

/*.container{
  border: 1px solid red; 
}*/

.coverwrap{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  position: absolute;
  top: 0px;

  background-image: linear-gradient(90deg,#FAFF00 3.7% , #6AFFDB 29.53%, #F478FF 61.71%, #FFAC30 86.58%);
}

.leftcolumn{
  position: relative;
  width: 100px;

  animation-name: example;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  from {top: 0px;}
  to {top: -2250vh;}
}

.rightcolumn{
  position: relative;
  width: 300px;
  left: 200px;

  animation-name: example2;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example2 {
  from {top: -2250vh;}
  to {top: 0px;}
}



